body{margin: 0; padding: 0;}

.background{background: url(background.jpg); background-position-y:-200px; background-size: cover;}

header {display: flex; justify-content: space-between; align-items: center;}
.logo {width: 25px; height: 25px; margin-left: 90px;}
nav ul{list-style-type: none; display:flex; gap:16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-right: 50px;}
.list-item:first-child{color: #10C9C3;}
nav li:hover{cursor: pointer;}

.we-design{display: flex; align-items: center; justify-content: flex-end; height: 600px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-right: 50px;}
.we-design article{width: 400px; }
.we-design h1{font-size: 30px;}
.we-design p{color:gray; margin-bottom: 30px; line-height: 150%;}

.about-us{display: flex; flex-direction: column; align-items: center; justify-content: center; height: 400px;}
.about-us article{width: 400px; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.about-us p{font-size: 12px; color:gray;}

.skills{display: flex; align-content:center ; justify-content: flex-start; height: 500px; background-image: url(background2.jpg); align-items: center;}
.skills article{width:500px; text-align: left;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: normal; margin-left: 90px; line-height: 50px;}
.percentage{display:flex; text-align: left; gap:20px;}
.skills h2{font-size: 28px;}
.uiux{font-size: 12px;}
.bar{background-color: #cbcbcb; width: 400px;}
.bar-value{background-color:#10C9C3 ; height: 4px; margin-bottom: 20px;}

.statistics{display: flex; justify-content: space-evenly; background-color: #10C9C3; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; height: 200px; align-items: center;}
.single-statistic{display: flex; height: 50px;}
.paragraphs-and-hours{display: flex; flex-direction: column; margin-left: 20px;  font-weight: 600; }
.paragraphs-and-hours p{margin: 0; margin-bottom: 7px;}
.paragraph{font-size: 11px; }

.placeholders{display:flex; flex-wrap: wrap;}
.image{flex:1; height: 300px;}
.image:hover, .load:hover{cursor: pointer; }
.button-load{display: flex;}
.load{border:0;width: 100%; background-color: #faf6f6; height: 90px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:gray;font-size: 12px; font-weight: 600; }

.our-work{display: flex; flex-direction: column; align-items: center; justify-content: center; height: 400px;}
.our-work article {width: 400px; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
.our-work p {color:gray; font-size: 13px;}
.our-work h2{color:#191919;}

.video{display: flex; justify-content: center;}

.drawings{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #F5F5F5; padding:80px 0; row-gap: 20px;}
.single {display: flex; flex-direction: column; justify-content: center;align-items: center;  }
.icon{width: 80px; height: 60px; }
.and{display:flex;text-align: center; flex-direction: column; align-items: center;}
.and h3{font-size: 13px; line-height: 8px;}
.and p{font-size: 13px; color: gray; font-weight: 600; width: 70%;}


.quotes{background-color: #10C9C3; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 160px 0; }
.citation{font-style: normal; font-size: 20px; font-weight: 600; margin-bottom: 20px; text-align: center; width: 51%;}
.who-said-this{font-size: 12px; font-weight: 700; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.partners img{width: 100%;}

.forms{background-color: #F5F5F5;}
.formularz {max-width:40%;margin: 0 auto;padding: 20px;border: 1px;border-radius: 5px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.formularz h2{margin-bottom: 20px;}
.formularz p{margin-bottom: 30px; color: gray;}
.formularz input{display: block; margin-bottom: 5px;}
.formularz form{display: flex; flex-wrap: wrap;  gap:20px; justify-content: center; }
input[type="submit"]{ background-color: #10C9C3;color: white;font-weight: bold;padding: 20px 40px;border: none;border-radius: 0;    }
input[type="submit"]:hover{  background-color: #EF363C; color: black; cursor: pointer;}
.field{flex:1;padding: 10px;border: 1px;border-radius: 0;box-sizing: border-box;color:gray;}
.title {width: 100%;padding: 10px;border: 1px;border-radius: 0;box-sizing: border-box;color:gray;}
.comment{resize:none; width:  100%;height: 200px;padding: 10px;border: 1px ;border-radius: 0;box-sizing: border-box;color:gray;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px; }
article button{background-color: #10C9C3;color: white;font-weight: bold;padding: 20px 40px;border: none;border-radius: 0;}
article button:hover{background-color: #EF363C;  color: black; cursor: pointer;}

footer{padding:20px 0; background-color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.footer-container {display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;max-width: 1200px;margin: 0 auto;padding: 20px;}
footer ul{list-style-type: none;}
.mail{display: flex; flex-direction:column;}
.mail p{margin: 0; color:#B8B8B8;}
.list{display: flex; flex-direction: row; color:#B8B8B8; gap: 30px;}
.about{margin: 0;}
.piroll{margin-left: -70px;}
.piroll p{margin:0; color:#B8B8B8;}
.piroll h3{margin:0 0 10px; color: white;}
.todo{display: flex;}
.list li:hover{cursor: pointer;}
                


                


             
    
